.btn {

    background-color: $mainCream;
    color: $mainDark;
    text-decoration: none;
    padding: 1.4rem 1.4rem;
    display: inline-block;
    

  

    &--cream {
        background-color: $mainCream;
    }

    &--large {
        padding: 1.6rem 4rem;


        @mixin atSmall {
            font-size: 1.25rem;
            margin-right: 150px;
        }
    }

}