/*Make this a design pattern as will be used on other pages on the site*/
.primary-nav {
    padding-top: 10px;

    @media atMedium {
        padding-top: 0;
    }

    /*We make a specific class for this as the basic class should be reusable and flexible in style*/
    &--pull-right{
        
    @mixin atMedium {
    float: right;
    }
}

/*Any ul that exist in a primary nav*/
ul {
    margin:0;
    padding:0;

}

/*remove the bullets, float to the left*/
li {

    list-style: none;
    display: inline-block;
    padding-right: 7px;

    @mixin atMedium {
    float: left;
    display: block;
    padding-right: 20px;
    }
}

}