.site-header {
    /*position:absolute puts the header below the large hero image. We use z-index to place the header on top (the highest z-index will sit on top and the hero image doesn't have a z-index */
padding: 10px 0;
position: absolute; /*By default absolute will squueze everything together. If we want to take the full top we need to specify width*/
width: 100%;
z-index:2;

    /*We only want the background on larger screens*/
    @mixin atMedium {
        background-color: rgba($mainBlue, .5); /* we use rgba to make it transparent. To use $ variables we need to install a post css plugin - postcss-hexrgba*/
    }

   &__btn-container {
       float: right; /* Positions the button to the right of the header*/
   } 

    /*Removes the logo from the flow of the header so the header box doesn't expand to the size of the logo*/
   &__logo {
       position: absolute;
       top: 0;
       background-color: $mainBlue;
       padding: 25px 36px;
       left: 50%;
       transform: translateX(-50%);

   }

   /*Hide on small screens and show on medium screens and above */
   &__menu-content {
       display:none;

       @mixin atMedium {
        display: block;
       }
   }

}